@charset "UTF-8";
/* bluecoat CSS Document */

	html{margin:0px; padding:0px;}
	body{margin:0px; padding:0px; background:#231f20;}
	#wrapper{ width:1920px; height:1080px; margin-left:auto; margin-right:auto; background-color:#999; padding:0px; overflow:hidden;}
	
	#secContain1{width:7680px; position:absolute; left:0px; top:0px; }
	#secContain2{width:7680px; position:absolute; left:0px; top:0px; }
	#secContain3{width:7680px; position:absolute; left:0px; top:0px; }
	#secContain4{width:7680px; position:absolute; left:0px; top:0px; }
	
	#contain{ width:1920px; height:1080px; position:absolute; overflow:hidden;  }
	
	#section1{ width:1920px; height:1080px; float:left;  }
	#section2{ width:1920px; height:1080px; float:left; /*background-color:#C96;*/ }
	#section3{ width:1920px; height:1080px; float:left; /*background-color:#93C;*/ }
	#section4{ width:1920px; height:1080px; float:left; /*background-color:#FC0; */}
	
	#layer1{ width:1920px; height:1080px; background-image:url(imgs/bg1.png); background-repeat:repeat-x; position:absolute; top:0px; }
	#layer2{ width:1920px; height:1080px; background-image:url(imgs/bg2.png); background-repeat:repeat-x; position:absolute; top:0px; }
	#layer3{ width:1920px; height:1080px; background-image:url(imgs/bg3.png); background-repeat:repeat-x; position:absolute; top:0px; }
	#layer4{ width:1920px; height:1080px; background-image:url(imgs/bg4.png); background-repeat:repeat-x; position:absolute; top:0px; }
	
	.clear{ clear:both; margin:0px; padding:0px; }
	ul{margin:0px; padding:0px; }
	li{margin:0px; padding:0px; }
	
	
	#nav{ position:absolute; z-index:99; top:20px; left:20px; }
	.btn{ width:80px; height:80px; float:left; background-color:#333; margin-right:10px; 
		font-family:"Arial Black"; font-size:66px; line-height:75px; text-align:center; color:#FFF; }
